{% extends 'base/base.html' %}

{% block header %}
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="item_li" class="active"><a href="{{ url_for('axfbg.item_view') }}">商品管理</a></li>
                        <li id="order_li"><a href="{{ url_for('axfbg.order_manage') }}">订单管理</a></li>
                        <li id="nosale_li"><a href="{{ url_for('axfbg.nosale') }}">不动销管理</a></li>
                        <li id="auto_li"><a href="{{ url_for('axfbg.auto_bh') }}">自动补货</a></li>

                    </ul>
                    <form class="navbar-form navbar-left" action="item_serch">
                        <div class="form-group">
                            <input type="text" class="form-control"name="kw" placeholder="请输入商品名字" id="search_kw">
                        </div>
                        <button type="submit" class="btn btn-primary" id="search_btn">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">我的 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">修改密码</a></li>
                                <li><a href="#">个人资料</a></li>
                                <li><a href="#">设置</a></li>
                                <li><a href="#">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
{% endblock %}